.innerMenu {
    width: 100%;
    padding: 0 30px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 15px;
}

#bigTitle {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    z-index: 30;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    opacity: 1;
    background-image: radial-gradient(#ff990029 1.05px, var(--bg-color) 1.05px);
    background-size: 21px 21px;
    transition: 0.3 all ease-in-out;
    border-top: 2px solid var(--praimery-color);
    border-bottom: 2px solid var(--praimery-color);
    border-right: none;
}

.bigTitleLine{
    width: 500px;
    height: 5px;
    margin: 43px 0 20px 0;
    background-color: var(--praimery-color);
}

.start {
    font-size: 80px;
    padding: 10px 50px;
    margin: 40px;
    border: 2px solid var(--praimery-color);
    border-radius: 500px;
    background-color: #ff990029;
    color: white;
}

.start:hover {
    cursor: pointer;
    background-color: var(--praimery-color);
    color: white;
}

.hideStart {
    display: none;
}

.title {
    font-size: 40px;
    font-weight: bold;
    padding-right: 10px;
    padding-bottom: 6px;
    /* border-bottom: 3px solid var(--praimery-color); */
    border-right: 3px solid var(--praimery-color);
    transition: 0.3 all ease-in-out;
}

.options {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.mute {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 21px;
    border-left: 2px solid var(--praimery-color);
    padding: 4px 18px;
}

.mute:hover {
    cursor: pointer;
    color: var(--praimery-color);
}

.level {
    font-size: 23px;
    margin-left: 27px;
    position: relative;
    background-color: transparent;
    border: none;
    color: var(--color);
}

.level:hover {
    cursor: pointer;
}

.expand {
    font-size: 17px;
    position: absolute;
    left: -24px;
    top: 4.5px;
}

.level:focus-within .expand {
    transform: rotate(180deg);
    transition: 0.3s all ease-in-out;
}

.level:not(:focus-within) .expand {
    transform: rotate(0deg);
    transition: 0.2s all ease-in-out;
}

.newGame {
    padding: 8px 16px;
    font-size: 23px;
    background-color: rgba(0, 0, 0, 0.238);
    border-radius: 70px;
    border: 2px solid var(--praimery-color);
    color: var(--color);
}

.newGame:hover {
    background-color: #ff990044;
    cursor: pointer;
}

/* .newGame:active{
    transform: scale(0);
    transition: all ease-in-out 0.1s;
} */

ul.dropDown {
    list-style: none;
    background-color: var(--bg-color);
    width: 150%;
    border-radius: 10px;
    position: absolute;
    top: 40px;
    right: -11px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border: 2px solid var(--praimery-color);
    transform: scaleY(0);
    transform-origin: top;
}

li {
    display: block;
}

li button {
    width: 1000px;
    background-color: transparent;
    color: var(--color);
    border: 0;
    padding: 10px;
    font-size: 20px;
    display: block;
}

li button:hover {
    background-color: var(--praimery-color);
    cursor: pointer;
}

.line {
    width: 83%;
    height: 1px;
    background-color: rgb(117, 117, 117);
}

.level:focus-within ul.dropDown {
    transform: scaleY(1);
    transition: all ease-in-out 0.2s;
}

/* .level:focus ul.dropDown{
    transform: scaleY(1);
    transition: all ease-in-out 0.2s;
} */

#hideBgPop {
    display: none;
}

.setTPbackgraund {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.664);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

#hidePop {
    width: 0;
    height: 0;
    overflow: hidden;
}

.setTP {
    transition: all ease-in-out 0.5s;
    position: relative;
    width: 600px;
    padding: 27px 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    background-color: var(--bg-color);
    border: 4px solid var(--praimery-color);
    border-radius: 0 40px 40px 40px;
}

.setTP .cancel {
    color: var(--bg-color);
    width: 40px;
    height: 40px;
    border-radius: 500px;
    position: absolute;
    top: -19px;
    left: -19px;
    background-color: var(--praimery-color);
    border: none;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.481);
}

.setTP .cancel:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

.setTP h2 {
    padding: 0 10px;
    font-size: 35px;
    font-weight: 700;
    border-right: 2px solid var(--praimery-color);
    margin: 0 15px;
}

.setTP p {
    margin: 0 15px;
}

/* .setTP .titleTPpop {
    text-decoration: underline var(--praimery-color);
} */

.setTP .TPicon {
    color: var(--praimery-color);
    font-size: 32px;
}

.setTP form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}

.setTP form .inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 0 15px;
}

.setTP form span {
    display: flex;
    flex-direction: column;
}

.setTP form .inputsLine {
    width: 2px;
    height: 85%;
    background-color: var(--praimery-color);
}

.setTP label {
    font-size: smaller;
    font-weight: 700;
    /* padding: 0 6px;
    border-right: 2px solid var(--praimery-color); */
}

.setTP input {
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8px 12px;
    background-color: rgba(255, 255, 255, 0.091);
    border: 2px solid var(--praimery-color);
    border-radius: 50px 0 50px 50px;
    color: white;
}

.setTP .go {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}

.goButton {
    padding: 8px 16px;
    font-size: 23px;
    background-color: #ff990044;
    border-radius: 70px;
    border: 2px solid var(--praimery-color);
    color: var(--color);
}

.goButton:hover {
    transform: scale(1.03);
    transition: 0.2s;
    cursor: pointer;
}

.goButton:not(:hover){
    transform: scale(1);
    transition: 0.2s;
}

@media (width < 760px) {
    .innerMenu {
        flex-direction: column;
        gap: 18px;
    }

    .options {
        width: 100%;
        justify-content: center;
    }

    .title {
        font-size: 30px;
    }

    .level {
        font-size: 23px;
    }
}