.innerBoard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    transition: all ease-in-out 0.3s;
}

.singleCard30 {
    width: 10.4%;
    min-width: 50px;
    min-height: 50px;
    max-width: 154px;
    max-height: 154px;
    aspect-ratio: 1/1;
    margin: 5px;
    position: relative;
    transition: all ease-in-out 0.3s;

}

.singleCard20 {
    width: 13%;
    min-width: 50px;
    min-height: 50px;
    max-width: 180px;
    max-height: 180px;
    aspect-ratio: 1/1;
    margin: 5px;
    position: relative;
    transition: all ease-in-out 0.3s;
}

.singleCard10 {
    width: 19%;
    min-width: 50px;
    min-height: 50px;
    max-width: 270px;
    max-height: 270px;
    aspect-ratio: 1/1;
    margin: 5px;
    position: relative;
    transition: all ease-in-out 0.3s;
}

.turns {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 37px;
    font-weight: 700;
}

.divider {
    width: 3px;
    height: 40px;
    background-color: var(--praimery-color);
}

@media (width < 990px) {
    .innerBoard {
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .boardAndTurns {
        gap: 20px;
    }

    .singleCard30 {
        width: 15%;
        min-width: 50px;
        min-height: 50px;
        max-width: 63px;
        max-height: 63px;
        transition: all ease-in-out 0.3s;
    }

    .singleCard20 {
        width: 18%;
        min-width: 50px;
        min-height: 50px;
        max-width: 80px;
        max-height: 80px;
        transition: all ease-in-out 0.3s;
    }

    .singleCard10 {
        width: 23%;
        min-width: 50px;
        min-height: 50px;
        max-width: 110px;
        max-height: 110px;
        transition: all ease-in-out 0.3s;
    }

    .turns {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        font-size: 37px;
        font-weight: 700;
    }

    .divider {
        height: 3px;
        width: 100px;
        background-color: var(--praimery-color);
    }
}